<?xml version="1.0" encoding="utf-8"?>
<items>
	<item image="a.jpg"><![CDATA[【封面】]]></item>
	<item image="c.jpg"><![CDATA[【目录】]]></item>
	<item image="p1-2.jpg"><![CDATA[【P1,2 - 本刊特稿】]]></item>
	<item image="p3-4.jpg"><![CDATA[【P3,4 - 专题报道】]]></item>
	<item image="p5-6.jpg"><![CDATA[【P5,6 - 经济动态】]]></item>
	<item image="p7-8.jpg"><![CDATA[【P7,8 - 开发导向】]]></item>
	<item image="p9-10.jpg"><![CDATA[【P9,10 - 招商看台】]]></item>
	<item image="p11-12.jpg"><![CDATA[【P11,12 - 热点追踪】]]></item>
	<item image="p13-14.jpg"><![CDATA[【P13,14 - 热点追踪】]]></item>
	<item image="p15-16.jpg"><![CDATA[【P15,16 - 精彩世博】]]></item>
	<item image="p17-18.jpg"><![CDATA[【P17,18 - 政策导航,党群关系】]]></item>
	<item image="p19-20.jpg"><![CDATA[【P19,20 - 党群关系,简讯略览】]]></item>
	<item image="p21-22.jpg"><![CDATA[【P21,22 - 简讯略览】]]></item>
	<item image="p23-24.jpg"><![CDATA[【P23,24 - 简讯略览】]]></item>
	<item image="p25-26.jpg"><![CDATA[【P25,26 - 企业文化】]]></item>
	<item image="p27-28.jpg"><![CDATA[【P27,28 - 企业文化】]]></item>
</items>